<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<title>Login</title>
	<base href="/cv.com/admin/view/" />
	<link href="../../css/bootstrap.css" type="text/css" rel="stylesheet" />
	<link href="../../css/bootstrap.css.map" type="text/css" rel="stylesheet" />
	<link href="../../css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<link href="../../css/bootstrap-theme.css" type="text/css" rel="stylesheet" />
	<link href="../../css/bootstrap-theme.css.map" type="text/css" rel="stylesheet" />
	<link href="../../css/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
</head>
<body style="background:url('../../images/background1.jpg')">
<div class="container" style="width:300px; margin:100px auto; padding:40px 70px 40px 70px; background:white; border-radius:10px">
<form class="form-vertical" action="login.php" method="post">
	<div class="form-group">
		Korisnicko ime:
		<input class="form-control" id="username" type="text" name="tbUsername" placeholder="Unesite korisnicko ime" />
	</div>
	<div class="form-group">
		Lozinka:
		<input class="form-control" id="lozinka" type="password" name="tbPassword" placeholder="Unesite lozinku" />
	</div>
		<button class="btn btn-default" type="submit" name="btnSubmit">Prijavi se</button>
</form>
	<a href="#">Zaboravili ste lozinku?</a>
</div>
</body>
</html>